@import "tailwindcss";

body {
  margin: 0;
  background: #f7f8f9;
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  max-width: 375px;
  margin: 0 auto;
  min-height: 100vh;
  background: #f7f8f9;
}